.App-logo {
    height: 10vmin;
    pointer-events: none;
    animation: rotate 1.5s linear infinite;
    transform: rotate(360deg); }


.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
}

.App-link {
    color: rgba(165, 221, 238, 0.38);
}
